#contain {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: rgb(56, 56, 56);
  width: 1000px;
}
#header {
  text-align: center;
  position:fixed;
  height: 115px;
  top:0px;
  left:0px;
  width:100%;
  background:rgb(31, 31, 31, .7);
}
#header-title { 
  text-transform: uppercase;
  font-family: verdana;
  letter-spacing: 10px;
  font-size: 60px;
  font-weight: 700;
  color: #f5f5f5;
}
#footer {
  text-align: center;
  position:fixed;
  font-size: 15px;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(68, 67, 87, 0.8);
  padding:8px;
}
#spacing {
  margin-top: 125px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
#logo-img {
  width: 40%;
}
.centering {
  text-align: center;
}
#main-menu-box {
  background-color: darkseagreen;
  border: 5px solid darkslategrey;
  border-radius: 20px;
  width: 30%;
  height: 350px;
  font-size: 35px;
  font-weight: 900;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  margin: 5px;
  font-size: 25px;
  font-weight: 700;
}
.menu-btn {
  width: 80%;
}
.landing-btn {
  width: 20%;
}
input {
  height: 40px;
  width: 40%;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  margin: 5px;
}
#account-menu-box {
  background-color:khaki;
  border: 5px solid darkslategrey;
  border-radius: 20px;
  width: 30%;
  height: 350px;
  font-size: 35px;
  font-weight: 900;
  margin-right: auto;
  margin-left: auto;
}
.box {
  height: 400px;
  width: 100%;
  text-align: left;
  overflow-y: scroll;
  margin-top: 2% 0 2% 5%;
}
.inner-box {
  margin: 2% 5% 2% 5%;
}